{{/*  {{ $backlinks := slice }}
{{ $path_base := .page.File.ContentBaseName }}
{{ $path_base_re := printf `["/(]%s.md["/)]` $path_base }}

{{ range where site.RegularPages "RelPermalink" "ne" .page.RelPermalink }}
    {{ end }}
{{ end }}  */}}

<section p-4 bg-ctp-crust font-mono md:text-s text-xs>
    <ul>
        {{ if .Params.tags }}
        <li><span font-bold>tags</span>:
        {{ range $key, $value := .Params.tags }}
        <a class="link" href="/tags/{{ $value | urlize }}">{{- $value -}}</a>
        {{- if ne $key (sub (len $.Params.tags) 1) }},{{ else }}{{ end }}
        {{ end }}
        </li>
        {{ end }}
        {{ with .GitInfo }}
        <li><span font-bold>modified</span>: {{ .AuthorDate }}</li>
        <li><span font-bold>hash</span>: {{ .Hash }}</span></li>
        {{ end }}
    </ul>
</section>
