{{/*  {{ $backlinks := slice }}
{{ $path_base := .page.File.ContentBaseName }}
{{ $path_base_re := printf `["/(]%s.md["/)]` $path_base }}

{{ range where site.RegularPages "RelPermalink" "ne" .page.RelPermalink }}
    {{ end }}
{{ end }}  */}}

<section class="max-w-6xl mx-25 p-4 bg-ctp-crust font-mono text-s">
    <ul>
        {{ if .Params.tags }}
        <li><span class="font-bold">tags</span>:
        {{ range $key, $value := .Params.tags }}
        <a class="link" href="/tags/{{ $value | urlize }}">{{- $value -}}</a>
        {{- if ne $key (sub (len $.Params.tags) 1) }},{{ else }}{{ end }}
        {{ end }}
        </li>
        {{ end }}
        {{ with .GitInfo }}
        <li><span class="font-bold">modified</span>: {{ .AuthorDate }}</li>
        <li><span class="font-bold">hash</span>: {{ .Hash }}</li>
        {{ end }}
    </ul>
</section>
