<script>
window.documents = [
    {{ range .Site.RegularPages }}
    {
        // use url as 'id' for minisearch
        "id": "{{ .Permalink }}",
        "title": "{{ .Title  }}",
        "tags": [{{ range .Params.Tags }}"{{ . }}",{{ end }}],
        "display": {{ .Content | truncate 200 }},
        "content": {{ .Content | plainify }},
    },
    {{ end }}
]
</script>
<script src=" https://cdn.jsdelivr.net/npm/minisearch@6.1.0/dist/umd/index.min.js "></script>
<script src="/js/search.js"></script>